.App {
  text-align: center;
  padding: 20px;
}

.user-list {
  max-width: 1200px;
  margin: 0 auto;
}

.user-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(33% - 20px);
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  margin-bottom: 20px;
}

.user-avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-details h2 {
  margin: 0;
  font-size: 1.2em;
}

.user-details p {
  margin: 5px 0;
}

.user-details ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
}

.user-details ul li {
  margin: 3px 0;
}
